@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #EAEDFF;
}
section{
    background: url(./img/h1_hero.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    padding:5% 20%;
}
.container{
    width: 400px;
    height: 450px;
    margin-left: 10px;
    background-color:aquamarine;
    border: 3px solid rgb(164, 244, 189);
    border-radius: 4px;
    z-index: 100;
}
.container h1{
    margin-top: 25px;
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.container .form_group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .inputbox{
    width: 90%;
    text-transform: none;
    margin-bottom: 10px;
}
.container .inputbox input{
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: #f8f9fa;
    padding: 25px 15px;
    border: 1px solid silver;
    border-radius: 4px;
}
.container .inputbox input:focus{
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #FB246A;
    outline: 0;
    box-shadow: none;
}
.container .btn_group{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 5px;
}
.container .btn_group .btn{
    width: 150px;
    padding: 2px;
    height: 45px;
    font-size: 16px;
    background-color: #FB246A;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
}
.container .btn_group a{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
.container .btn_group .btn:hover {
    opacity: 0.6;
}